<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow-sm mb-4">
  <div class="container">
    <a class="navbar-brand text-success font-weight-bold font-italic" routerLink="/">My Furniture</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Collection</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input formControlName="keyword" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
      <span class="text-muted">My Furniture build with love</span>
    </div>
</footer>